body {
  background-color: black;
  color: white;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  text-align: center;
}

#activetask {
  border: solid;
  border-width: 5px;
  border-color: red;
  padding: 3px;
}

#entertask {
}

#tasklist {
}

#currenttask {
}

#finishedtasks {
}

#pauseform, #endform {
  display: inline-block;
}

#pausebutton, #endbutton {
  margin-top: 5px;
  display: inline-block;
}

#endbutton {
  background-color: crimson;
}

.workontaskbutton {
  margin-bottom: 0;
}

.sortable-placeholder {
  height: 75px;
}

.timebox {
    width: 75px;
}

.task, .finishedtask {
  border: solid;
  border-color: white;
}

.task {
  line-height: 60px;
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.task:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.finishedtask {
  border-width: 1px;
  border-color: white;
}
