body {
  background-color: black;
  color: white;
}

table {
  border-collapse: collapse;
}

td {
  padding: 3px;
}

#entertask {
}

#tasklist {
}

#currenttask {
}

#finishedtasks {
}

#pausebutton {
}

#endbutton {
}

.sortable-placeholder {
  height: 75px;
}

.timebox {
    width: 75px;
}

.task {
  border: solid;
  border-width: 5px;
  border-color: red;
  height: 75px;
}
