{% load staticfiles %}

<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{% static 'to_do_list/to_do_list.js' %}"></script>
    <link rel="stylesheet" type="text/css"
    href="{% static 'to_do_list/to_do_list.css' %}"/>
    <title>TaskMaster 2017</title>
</head>
    <body>
        <center><h1>{{ tasklist.name }} </h1></center>
        <h2>Enter A New Task:</h2>
        <form id="entertask" action="/todolist/{{ tasklist.id }}/"
        method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit" />
        </form>

        <h2>Current Task</h2>
        {% if currenttask %}
        <div id=activetask>
          <div id=currenttask>Current task: {{ currenttask.text }}</div>
          <div id=taskstartedtime
            >Started time: {{ currenttask.created }}</div>

        <form id=pauseform action="pausetask/{{ currenttask.id }}/" method="POST">{%csrf_token %}
          <input  type="hidden" name="taskid" value="{{ currenttask.id }}"
          ><input id=pausebutton type="submit" value="Pause">
        </form>
        <form id=endform action="finishtask/{{ currenttask.id }}/" method="POST">{%csrf_token%}
          <input type="hidden" name="taskid" value="{{ currenttask.id }}"
          ><input id=endbutton type="submit" value="Finish">
        </form>
      </div>
        {% endif %}

      <h2>Active Tasks<h2>
      {% if tasks %}
      </div>
      <table style="100%">
            <thead>
              <th>Task</th>
              <th>Priority</th>
              <th>Date Created</th>
              <th>Est. Duration</th>
            </thead>
                <tbody id=tasklist>
                    {% for task in tasks %}
                      {% if task.id != currenttask.id %}
                        <tr class=task data-id={{ task.id }}
                        data-priority={{ task.priority }}
                        data-tasklist={{ task.tasklist.id }}>
                            <td class=taskname>{{ task.text }}</td><td
                              class=priority
                            >{{ task.priority }}</td><td class=created
                            >{{ task.created }}</td><td class=duration
                            >{{ task.duration }}</td><td
                            ><td><form class=workontaskbutton
                              action="togglecurrent/"
                              method="POST">{%csrf_token %}
                              <input type="hidden" name="taskid"
                              value="{{ task.id }}"
                              ><input type="submit" value="Work on Task">
                            </form></td
                            ><td><button class=deletetaskbutton
                              >Delete Task</button></td>
                        </tr>
                      {% endif %}
                    {% endfor %}
                </tbody>
        </table>
        {% endif %}
    </body>

    <h2>Finished Tasks</h2>
    {% if finishedtasks %}
    <div id=finishedtasklist>
      <table>
        <thead>
          <th>Task</th>
          <th>Date Created</th>
          <th>Duration</th>
          <th>Date Completed</th>
        </thead>
        <tbody>
          {% for task in finishedtasks %}
          <tr class=finishedtask>
              <td>{{ task.text }}</td><td
              >{{ task.created }}</td><td
              >Dummy Value</td><td
              >{{ task.completed }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}
</html>
