<DOCTYPE html>
<html>

<form action="/todolist/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
</form>

<div id=tasklist>
    Stored tasks:
    {% for task in tasks %}
        <div class=task>
        {{ task.text }}
        </div>
    {% endfor %}
</div>

<div id=currenttask>
Current task:
<br>
Started time:
</div>


<button>Pause Task</button>
<button>End Task</button>

<div id=finishedtasks>
    Dummy text finished tasks will go here
    task start finish duration
</div>


</html>
